* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Courier New', 'Courier', monospace;
  background: #ffffff;
  color: #5fb3b3;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
}

#__next {
  width: 100%;
  height: 100%;
}

